<main>
  <img src="/assets/icons/hit-logo.png" />
  <div class="couple-btns">
    <a routerLink="">Introdução</a>
    <a>Contato</a>
  </div>
  <div class="title">
    <h1>Contato</h1>
    <div class="separator">
      <div class="separator-content"></div>
    </div>
  </div>
  <form class="text">
    <div class="couple-input">
      <input type="text" placeholder="Nome*">
      <input type="email" placeholder="E-mail*">
    </div>
    <textarea placeholder="Mensagem*" id="" cols="30" rows="10"></textarea>

    <button>Enviar</button>
  </form>
</main>
