main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main img {
  width: 160px;
  height: 61.02px;
  margin-bottom: 68px;
}
div.couple-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

div.couple-btns a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-weight: 200;
  width: 200px;
  height: 40px;
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  margin: 7px 10px;
  filter: drop-shadow(0 4px 6px rgba(17, 17, 17, 0.4));
}

div.couple-btns a:hover {
  opacity: 0.8;
}

div.title {
  color: #fff;
  margin-bottom: 35px;
}

div.title h1 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 3px;
  filter: drop-shadow(0 4px 6px rgba(17, 17, 17, 0.4));
}

div.title div.separator {
  width: 122px;
  height: 2.5px;
  background-color: var(--separator-color);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 4px 6px rgba(17, 17, 17, 0.4));
}

div.title div.separator div.separator-content {
  width: 20px;
  height: 6px;
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
}

div.text {
  width: 780px;
  height: 435px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 14px;
  filter: drop-shadow(0 4px 6px rgba(17, 17, 17, 0.4));
}

div.text p {
  color: #fff;
  padding: 21px;
  font-weight: 100;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  main img {
    width: 120px;
    height: 45.77px;
    margin: 40px 0px;
  }

  div.couple-btns {
    flex-direction: column;
  }

  div.couple-btns a {
    width: 100%;
    margin-bottom: 10px;
  }

  div.text {
    width: 80%;
    height: auto;
    padding: 10px;
  }

  div.text p {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  main img {
    width: 120px;
    height: 45.77px;
    margin-bottom: 40px;
  }

  div.title h1 {
    font-size: 18px;
  }

  div.title div.separator {
    width: 90px;
  }

  div.text {
    width: 95%;
  }
}
