@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #2D2D2D;
  --primary-color: #e05a4d;
  --secondary-color: #ea916b;
  --separator-color: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden !important;
  background-color: var(--background-color);
}
